.home {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 30px;
    color: white;
}

.home h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    margin-bottom: 20px;
}