<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>
<ul class="nav">
    <li><a href="/"> About</a></li>
    <li><a href="/cv"> CV</a></li>
    <li><a href="/contact"> Contact</a></li>
    <li><a href="/blog"> Blog</a></li>
</ul>
<body>
    <main class="page-content">
        {{ content }}
    </main>
</body>
<div class="footer">
    <ul class="footer">
        <!-- <li><strong>Follow me:</strong></li> -->
        <li><a href="https://github.com/LGirrbach"> <img src="/assets/figures/github-mark/github-mark/github-mark.svg"> <strong>GitHub</strong></a></li>
        <li><a href="https://de.linkedin.com/in/leander-girrbach-6b4b52251"> <img src="/assets/figures/LinkedIn-Logos/LI-In-Bug.png"><strong>LinkedIn</strong></a></li>
    </ul>
  </div>
</html>